.body {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 20%;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
input {
  border: none;
  border-bottom: 1px solid #3b3b3b;
  padding: 5px 10px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  width: 250px;
}
input::placeholder {
  color: #a6ae9d;
}
input:focus {
  outline: none;
}
.buttons {
  display: flex;
}
button {
  cursor: pointer;
  width: 85px;
  padding: 10px 6px;
  border-radius: 10px;
  border: none;
  background-color: #64c601;
  color: white;
  font-weight: 600;
  margin: auto;
}
