<div class="up">
  <div class="buttons" *ngIf="isSelected">
    <button (click)="cleanImages()">Clean</button>
    <button (click)="uncleanImages()">Unclean</button>
  </div>
  <div class="imageGrid">
    <img
      *ngFor="let item of images; let i = index"
      [src]="item.url"
      [ngStyle]="cssSelected(i)"
      (click)="openImage(i)"
    />
  </div>
  <div class="pagination">
    <div class="previous" *ngIf="page > 1" (click)="previousPage()">
      <i class="fa fa-arrow-left"></i>
      <span>prev</span>
    </div>
    <div class="next" *ngIf="page !== nbrPages" (click)="nextPage()">
      <span>next</span>
      <i class="fa fa-arrow-right"></i>
    </div>
  </div>
</div>
